* {
    box-sizing: border-box;
}

body {
    font-family:'Crimson Text', serif;
    font-size: 15px;
}

.forcast {
    font-size: 1em;
}

.topnav {
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    background-color: #6fa8dc;
    padding: 15px;
}

.City-Name {
    font-weight: bold;
    font-size: larger;
}

p.current,
.City-Name {
    color: black;
}

p {
    color: white;
}